header{
  width: 100%;
  font-family: 'Abril Fatface', cursive;
  color: #222;
}

#slika{
  width:100%;
}

#naslov{
  position: relative;
  top: -200px;
  font-size: 30px;
  width: 700px;
  margin: auto;
}

#ime{
  margin-bottom: -20px;
}

#anakin{
  font-size: 80px;
  margin-top: 0;
}

blockquote{
  font-family: 'Abril Fatface', cursive;
  color: #222;
   width: 700px;
  margin: auto;
  font-size: 30px;
  background:#333;
  color: white;
  margin-top: 40px;
  height: 180px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  padding-left: 5px;
}

body{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

blockquote::before {
  content: '”';
  /* ide jön a stílusa */
  font-size: 100px;
}

main{
  
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.pr{
  margin-top: -180px;
}

h2{
 text-transform: uppercase;
}

.kako{
  font-family: 'Merriweather', serif;
  font-size: 15px;
}